{% extends "base.html" %}
{% block content %}
  <title>{% block title %}Noahide|Userpost{% endblock %}</title>
    <h1 class="mb-3">Posts by {{ view.kwargs.username|capfirst }} ({{ page_obj.paginator.count }}) </h1>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author|capfirst }}</a>
              <small class="text-muted">{{ post.created_at|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe|truncatewords:20 }}</p>
          </div>
        </article>
    {% endfor %}


    <!--Pagination-->
 {% include "blog/paginator.html" %}

    <!--Pagination End-->
   <!-- Back Button -->
  <div class="text-center mt-4">
    <a href="{% url 'home' %}" class="btn btn-secondary px-4 py-2">
      ← Back to Home
    </a>
  </div>
{% endblock %}